<div class="display-item-container slide4-content">
    <div class="display-img-content">
        <div class="in-shadow"></div>
        <img class="display-img" src="<%= '/images/img' + data.image +'.jpg' %>" alt="<%= data.title %>">
    </div>
    <input id="<%= 'acd-check' + data.image %>" class="acd-check" type="checkbox">
    <div class="display-content">
        <h3 class="title"><%= data.title %></h3>
        <p class="penname"><%= data.penname %></p>
        <p class="caption"><%= data.caption %></p>
        <div class="eval-items">
            <!-- <input id="<%= 'heart-check' + data.image %>" class="heart-check" type="checkbox"> -->
            <label class="fa fa-heart btn" %>" ></label>
            <div class="fa-cover">
                <label class="fa fa-comment btn" for="<%= 'acd-check' + data.image %>"></label>
                <div class="fa-hand-o-down-cover">
                    <span class="fa fa-hand-o-down"></span>
                    <p class="tap-message">Tap!</p>
                </div>
            </div>
            <p class="open-massage">イラストに対するコメントを描こう！</p>
        </div>
        <div class="comment-form">
            <p>100字以内(任意)</p>
            <textarea class="comment-area" type="text" maxlength="0" ></textarea>
        </div>
        <div class="flip-hand-content">
            <div class="flip-hand">
                <span class="fa fa-hand-o-up"></span>
            </div>
            <p class="flip-msg">説明を読み終えた方はSwipe!</p>
        </div>
    </div>
</div>