<div class="display-item-container">
    <div class="display-img-content">
        <div class="in-shadow"></div>
        <img class="display-img" src="<%= '/images/img' + data.image +'.jpg' %>" alt="<%= data.title %>">
    </div>
    <input id="<%= 'acd-check' + data.image %>" class="acd-check" type="checkbox">
    <div class="display-content">
        <h3 class="title"><%= data.title %></h3>
        <p class="penname"><%= data.penname %></p>
        <p class="caption"><%= data.caption %></p>
        <div class="eval-items">
            <input id="<%= 'heart-check' + data.image %>" class="heart-check" type="checkbox">
            <label class="fa fa-heart btn" for="<%= 'heart-check' + data.image %>" ></label>
            <label class="fa fa-comment btn" for="<%= 'acd-check' + data.image %>"></label>
        </div>
        <div class="comment-form">
            <p>80字以内</p>
            <textarea class="comment-area" type="text" maxlength="80" ></textarea>
        </div>
    </div>
</div>